{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4 text-center">Stephan Riley</h1>
    <p class="lead text-center">Passionate upcoming developer. Excited about all things programming, but Python is my first love (after my family, of course!).</p>
    <img src="{% static "img/me_n_squish.jpg" %}" alt="Stephan and Oliver">
    <hr class="my-4">
    <div class="text-center">
      <a class="btn btn-dark btn-lg" href="#" role="button">Learn more about me.</a>
      <a class="btn btn-dark btn-lg" href="#" role="button">Check out some of my Projects.</a>
      <a class="btn btn-dark btn-lg" href="#" role="button">I live stream. Check out my channel.</a>
    </div>
  </div>
{% endblock content %}